---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
export function getStaticPaths(){
    const allPosts = Object.values(import.meta.glob('../blog/posts/*.md',{eager: true}))
    //const uniqueTags = [...new Set(allPosts.map((post:any) => post.frontmatter.tags).flat())]
    const uniqueTags = Array.from(new Set(allPosts.map((post:any) => post.frontmatter.tags).flat()))
    //return[
    //    {params: {tag: '新楓之谷'},props:{posts: allPosts}},
    //    {params: {tag: '維多利亞盃'},props:{posts: allPosts}}
    //]
    return uniqueTags.map((tag:any) =>{
        const filterPosts = allPosts.filter((post:any) => post.frontmatter.tags.includes(tag))
        return {
            params: {tag},
            props: {posts: filterPosts}
        }
    })
}

const {tag} = Astro.params
const {posts} = Astro.props
---
<BaseLayout pageTitle={tag}>
    <div class="text-center text-2xl my-5">標籤:<b>{tag}</b></div>
    <section class="w-full flex flex-wrap">
    {
        posts.map((post:any)=> <Card post={post.frontmatter} url={post.url}></Card>) 
    }
    </section>
</BaseLayout>