---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"
import Card from "../components/Card.astro"
import { fade } from "astro:transitions"

const allPosts = Object.values(import.meta.glob("./blog/posts/*.md",{eager:true}))
allPosts.sort((b:any,a:any) => a.frontmatter.pubDate.localeCompare(b.frontmatter.pubDate ||
b.frontmatter.pubDate.localeCompare))
const featurePosts = allPosts.filter((p:any) => p.frontmatter.feature == true)

const uniqueTags = [...new Set(allPosts.map((post:any) => post.frontmatter.tags).flat())]

allPosts.length = 2
---
<BaseLayout pageTitle="首頁">
	<h1 class="text-5xl font-bold text-center my-5" transition:animate={fade({duration:'0.5s'})}>歡迎來到楓之眾</h1>
	<Hero></Hero>
	</section>
	<h1 class="text-5xl font-bold text-center my-5" transition:animate={fade({duration:'0.5s'})}>精選文章</h2>
	<section class="w-full flex flex-wrap" >
       {
            featurePosts.map((post:any) => <Card post={post.frontmatter} url={post.url}></Card>)
       } 
    </section>
	<h2 class="text-5xl font-bold text-center my-5" transition:animate={fade({duration:'0.5s'})}>最新文章</h2>
	<section class="w-full flex flex-wrap" >
       {
            allPosts.map((post:any) => <Card post={post.frontmatter} url={post.url}></Card>)
       } 
    </section>
    <h2 class="text-5xl font-bold text-center my-5" transition:animate={fade({duration:'0.5s'})}>標籤</h2>
     <section class="w-full flex flex-wrap gap-4 justify-center">
		{
            uniqueTags.map((tag:any) => <a href={`/tags/${tag}`} 
            class="hover:bg-amber-600 hover:text-white duration-150 text-sm py-1 px-3 bg-amber-300 rounded-xl">{tag}</a>)
          }
</BaseLayout>