---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props

function formatDate(dateStr: any) {
  const date = new Date(dateStr);
  const y = date.getFullYear();
  const m = String(date.getMonth() + 1).padStart(2, "0");
  const d = String(date.getDate()).padStart(2, "0");
  return `${y}-${m}-${d}`; // 或 `${y}年${m}月${d}日`
}
---
<BaseLayout>
    <div class="aspect-video my-10 rounded-xl overflow-hidden">
        <img src={frontmatter.hero.src} alt="" class="w-full h-full object-cover">
    </div>
    <div class="flex flex-col gap-3 my-10">
        <h2 class="text-4xl font-blod">{frontmatter.title}</h2>
        <div>{frontmatter.author}</div>
        <div>{formatDate(frontmatter.pubDate)}</div>
        <hr>
        <article class="prose">
            <slot />
        </article>
        <a href="/blog" class="text-sky-500 font-bold">文章首頁</a>
    </div>    
</BaseLayout>
<style is:global>
    article h1, article h2, article h3, article h4, article h5, article h6 {
        font-weight: bold;
        margin-top: 1.5em;
        margin-bottom: 0.75em;
    }

    article h1 { font-size: 2.2rem; }
    article h2 { font-size: 1.7rem; }
    article h3 { font-size: 1.3rem; }

    article p {
        margin-bottom: 1.2em;
        line-height: 1.7;
        color: #333;
    }

    article img {
        display: block;
        margin-block: 15px;
        border-radius: 5px;
    }
</style>